body{
    background-color: #333;
}
.square{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.color-red{
    background-color: red;
}
.color-green{
    background-color: green;
}
.color-blue{
    background-color: blue;
}